
    #game-area {
        margin-top:-200px;
    position: relative;
    width: 100%;
    height: 100px;
    }

    .asteroid {
    position: absolute;
    background-image: url('images/asteroid.png');
    background-size: cover;
    }
